{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kelvin Rio Pratama</title>
        <link href= "{% static '/css/main.css' %}" rel="stylesheet" type:"text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">

        <script src="https://unpkg.com/scrollreveal"></script>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    </head>

    <body>
        <br>
        <div class="container">
            <div class="row row1">
                <div class="col-md-3 zoom">
                    <div id="profile-wrapper" class="card card-body h-100 border-primary">
                        <img id="profile-pic" src={% static 'images/kelvin.PNG' %} >
                        <hr>
                        <h4>Hi, Im Kelvin!</h4>
                        <p>I love coding, doing research, and learning new stuff</p>
                        <ul class="social-links">
                            <a href="https://www.facebook.com/kelvinriop/" target="_blank">
                                <li><img class="social" src="{% static 'images/facebook.png' %}"></li>
                            </a>

                            <li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
                            
                            <a href="https://github.com/Virima" target="_blank">
                                <li><img class="social" src="{% static 'images/github.png' %}"></li>
                            </a>

                            <a href="https://www.instagram.com/kelvin_rp/" target="_blank">
                                <li><img class="social" src="{% static 'images/instagram.png' %}"></li>
                            </a>
                            
                        </ul>
                    </div>
                </div>

                <div class="col-md-9 zoom">
                    <div class="card card-body h-100 border-primary">
                        <h4>About me</h4>
                        <hr>
                        <p>
                            Currently a 7th semester student at Atma Jaya University in Yogyakarta.
                            Currently focused on learning django python web framework.
                            Previously I often developed mobile-based projects with Java or Swift
                            with Oracle, MySQL, or firebase databases.
                        </p>
                        <p>
                            At the moment, I currently seeking an internship position to gather more working experiences and 
                            self development.
                            Aside from building small projects by myself, I would love to enter a position where I can 
                            be part of a bigger team and learn from others with more experience than myself.
                        </p>

                    </div>
                </div>
            </div>
            
            <br>

            <div class="row row2">
                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>Education</h5>
                        <hr>
                        <h5>Informatics, Atma Jaya Yogyakarta University</h5>
                        <p style="font-style: italic;">Yogyakarta</p>
                        <p>Expected to Graduate in 2021</p>
                        <p>Current GPA 3.741</p>
                    </div>
                </div>

                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>What I Know</h5>
					    <hr>
                        <p>C++, Java, Swift ,R ,Python, CodeIgniter, HTML/CSS, PHP,  JavaScript, Vue, and APIs such as 
                            Google maps, JavaScript charts and a whole bunch more I can’t possibly mention in 
                            one sentence! ;)
                        </p>
                        <p>
                            PS: Working on Django, ChartJS and ReactJS.
                        </p>
                    </div>
                </div>
            </div>

            <br>

            <div class="row row3">
                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>How I Learn</h5>
                        <hr>
                        <p>
                            Build prototype first and prioritize the most critical/important function. 
                        </p>
    
                        <p>
                            I can learn just about anything by having a final product to tear apart piece 
                            by piece. I break the code where I need to figure out why things work the way 
                            they do. Documentation is just a reference.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>My Short Term Goals</h5>
                        <hr>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into 
                            electronic typesetting, remaining essentially unchanged.
                        </p>

                    </div>
                </div>
            </div>
            
            <br>

            <div class="row row4">
                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>Work History</h5>
                        <hr>
                        <ul>
                            <li>
                                Sponsorship Committee
                            </li>
                                <p style="font-style: italic;">
                                    Informatics Festival 6 (IFEST #6) of Atma Jaya Yogyakarta University
                                </p>
                            <li>
                                Sponsorship Committee
                            </li>
                                <p style="font-style: italic;">
                                    Informatics Festival 7 (IFEST #7) of Atma Jaya Yogyakarta University
                                </p>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>My Projects</h5>
                        <hr>

                        <p>
                            Shigoto Job Finder
                        </p>
                        <p>
                            DecoCrop
                        </p>
                        <p>
                            KulinerKuy
                        </p>
                        <p>
                            Kouvee Pet Shop
                        </p>
                    </div>
                </div>
            </div>

            <br>

            <div class="row row5">
                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>Learning Experiences</h5>
                        <hr>
                        <p>
                            
                        </p>
                    </div>
                </div>

                <div class="col-md-6 zoom">
                    <div class="card card-body h-100">
                        <h5>Certifications</h5>
                        <hr>

                        <ul>
                            <li>
                                Certified Secure Computer User v2
                            </li>
                                <p style="font-style: italic;">
                                    November 2018
                                </p>
                            <li>
                                Certified MTA Networking Fundamental
                            </li>
                                <p style="font-style: italic;">
                                    June 2019
                                </p>
                            <li>
                                Certified MTA Database Administration Fundamentals
                            </li>
                                <p style="font-style: italic;">
                                    November 2019
                                </p>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <div class="row row6">
                <div class="col-md-6 zoom">
                    <div class="card card-body h-200">
                        <h5>Hard-Skills</h5>
                        <hr>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>

                <div class="col-md-6 zoom">
                    <div class="card card-body h-200">
                        <h5>Soft-Skills</h5>
                        <hr>
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>

            <br>

        </div>
    </body>
</html>

<script>
    /* ScrollJS */
    var reset = {
        delay: 100,
        duration: 500,
        reset: true
    };

    ScrollReveal().reveal('.row1', reset);
    ScrollReveal().reveal('.row2', reset);
    ScrollReveal().reveal('.row3', reset);
    ScrollReveal().reveal('.row4', reset);
    ScrollReveal().reveal('.row5', reset);
    ScrollReveal().reveal('.row6', reset);


    /* ChartJS */
    var ctx = document.getElementById('myChart');
    var ctx2 = document.getElementById('myChart2');

    var inView = false;

    //Pengaturan Chart Radar
    var options_radar = {
        scale: {
            ticks: {
                beginAtZero: true,
                min: 0,
                max: 100,
            }
        },
        responsive: true, 
        maintainAspectRatio: true, 
        cutoutPercentage: 60, 
        animation:{ duration: 1500},
        //tooltips:{enabled: true, backgroundColor: ['#9f2064','#eef2f4']}
    }

    function isScrolledIntoView(elem)
    {
        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = $(elem).offset().top;
        var elemBottom = elemTop + $(elem).height();

        return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
    }

    $(window).scroll(function() {
        if (isScrolledIntoView('#myChart')) {  
            /* Jika di-scroll ke myChart, lakukan animation ke myChart dan myChart2 */
            if (inView) { return; }
            inView = true;
            
            var myChart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: 'Skill Mastery (%)',
                        data: [90, 80, 95, 75, 96, 65],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: options_radar
            });

            var myChart2 = new Chart(ctx2, {
                type: 'radar',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: 'Skill Mastery (%)',
                        data: [80, 80, 75, 65, 70, 85],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 2
                    }]
                },
                options: options_radar
            });

        } else {
            /* Sedang tidak di scroll ke myChart */
            inView = false;  
        }
    });

</script>

